{{#each ideas}}
<div class="card card-body mb-3">
    <h4>{{title}}</h4>
    <p>{{details}}</p>
    <a class="btn btn-warning" href="/idea/edit/{{id}}">Edit</a>
</div>
{{else}}
 <p>No ideas</p>
{{/each}}