<div class="row">
  <div class="col-md-6 m-auto">
    <div class="card card-body bg-light">
      {{!-- <img class="logo" src="/img/logo.png"> --}}
      <h3 class="text-center">Account Register</h3>
      <form action="/user/register" method="POST">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" name="name" value="{{name}}" required>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" value="{{email}}" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" value="{{password}}" 
          class="form-control" required>
        </div>
        <div class="form-group">
          <label for="password2">Confirm Password</label>
          <input type="password" name="password2" class="form-control" 
          value="{{password2}}" required>
        </div>
        <button type="submit" class="btn btn-primary btn-block">REGISTER</button>
      </form>
    </div>
  </div>
</div>